<span *ngIf="item">
  <div>
    <h1 mat-dialog-title style="color: rgb(49, 255, 83) !important;">Trade Complete!</h1>
  </div>
  <mat-dialog-content>
    <i style="color: #7f94be !important;">The trade has been completed!</i>
    <br>
    <br>
    <span *ngIf="!hasReppedBefore">You can now give positive or negative rep to the {{oppositeRole}}.</span>
    <div *ngIf="!isRepping && hasReppedBefore">
      <i style="color: #7f94be !important;">You have given rep to the {{oppositeRole}}.</i>
    </div>
    <br>
    <br>
    <button *ngIf="!isRepping && !hasRepped && !hasReppedBefore" mat-button cdkFocusInitial style="color: rgba(54, 244, 79, 0.651) !important;" (click)="repAfterTrade(true)">+REP </button>
    <button *ngIf="!isRepping && !hasRepped && !hasReppedBefore" mat-button style="color: rgba(244, 67, 54, 0.808) !important;" (click)="repAfterTrade(false)">-REP</button>
    <span *ngIf="isRepping && !hasRepped && !hasReppedBefore">Confirm {{labelChoice}} in Wallet <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
      [diameter]="25">
    </mat-progress-spinner></span>
    <div *ngIf="hasRepped && !isRepping && !hasReppedBefore">
      <i style="color: #7f94be !important;">You have given {{labelChoice}} to the seller successfully.</i>
    </div>    
  </mat-dialog-content>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>