<mat-card class="margins background" style="align-items: center; text-align: center;">
   
    <mat-dialog-content>
        <h2>Claim Rewards</h2>
    </mat-dialog-content>
</mat-card>

<div style="max-width: 380px; text-align: center;"> <!--490 -->

    <mat-card-content >
        
        <section class="example-section">
            <span class="example-list-section">
              <mat-checkbox class="example-margin"
                            [checked]="allComplete"
                            [color]="task.color"
                            [indeterminate]="someComplete()"
                            (change)="setAll($event.checked)">
                <span style="color: #b9bce5 !important; font-size: .89rem;">{{task.name}}</span>
              </mat-checkbox>
            </span>
            <span class="example-list-section">
              <ul>
                <li *ngFor="let subtask of task.subtasks">
                  <mat-checkbox [(ngModel)]="subtask.completed"
                                [color]="subtask.color"                
                                (ngModelChange)="updateAllComplete(subtask)">
                    <span style="color: #b9bce5 !important; font-size: .89rem;">{{subtask.name}}</span>
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </section>

          <button *ngIf="!isClaiming" mat-button (click)="claimRewards()" style="color: #3c48ec  !important; font-size: 1.2rem;">🤑 Claim</button>

          <div class="centered-loading-spinner" *ngIf="isClaiming">                
            <span style="color: rgb(124, 130, 235)"></span> <mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="indeterminate"
            [diameter]="25">
          </mat-progress-spinner>
          </div>

    </mat-card-content>
</div>