<span *ngIf="item">
    <span *ngIf="item.uiInfo.role === 'Buyer'">
      <div>
        <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">Open Dispute</h1>
      </div>
      <mat-dialog-content>
        <i style="color: #7f94be !important;">How has the trade gone wrong?</i>
        <br>
        <br>
        <br>
        <form [formGroup]="firstFormGroup">
          <mat-form-field class="example-full-width">
            <mat-label>Reason</mat-label>
            <textarea style="height: 2rem;" matInput formControlName="firstCtrl"></textarea>
            <mat-error *ngIf="firstFormGroup.get('firstCtrl').hasError('required')">Reason is required</mat-error>
          </mat-form-field>
        </form>
        <p style="color: rgb(255 49 67)">Note that setting the trade in <br> disputed mode is irreversible.</p>
        <div style="display: flex; align-items: center;">
          <button *ngIf="!isDisputing" color="warn" [disabled]="firstFormGroup.get('firstCtrl').invalid" mat-button cdkFocusInitial (click)="createDispute()">Dispute Trade</button>
          <span *ngIf="isDisputing">Sign TX</span>
          <span *ngIf="isDisputing"><mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="25"></mat-progress-spinner></span>
        </div>
      </mat-dialog-content>
    </span>
  
    <span *ngIf="item.uiInfo.role === 'Seller'">
        <div>
            <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">Open Dispute</h1>
        </div>
        <mat-dialog-content>
            <i style="color: #7f94be !important;">Has the trade gone wrong?</i>
            <br>
            <br>
            <form [formGroup]="firstFormGroup">
              <mat-form-field class="example-full-width">
                <mat-label>Reason</mat-label>
                <textarea style="height: 2rem;" matInput formControlName="firstCtrl"></textarea>
                <mat-error *ngIf="firstFormGroup.get('firstCtrl').hasError('required')">Reason is required</mat-error>
              </mat-form-field>
            </form>
            <p style="color: rgb(255 49 67)">Note that setting the trade in <br> disputed mode is irreversible.</p>
            <div style="display: flex; align-items: center;">
              <button *ngIf="!isDisputing" color="warn" [disabled]="firstFormGroup.get('firstCtrl').invalid" mat-button cdkFocusInitial (click)="createDispute()">Dispute Trade</button>
              <span *ngIf="isDisputing">Sign TX</span>
              <span *ngIf="isDisputing"><mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="25"></mat-progress-spinner></span>
            </div>
        </mat-dialog-content>
    </span>
    
  </span>
  
  <span *ngIf="!item">
    <mat-dialog-content>
      Error! Please try again later.
    </mat-dialog-content>
  </span>
