<mat-card class="margins background" style="background-image: url(../../../assets/art_csx_sm.png);">
    <mat-card-content>  
      <h1>Earn</h1>
      <p>Stake CSX to earn rewards.</p>
      <p></p>
    </mat-card-content>
</mat-card>
  
<mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>

<div *ngIf="!this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background" >
        <mat-card-content>
        <h2>Wallet not connected.</h2>
        <p>Connect wallet to retrieve on-chain data, this can be done in the upper-right corner.</p>
        <p></p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background" >
        <mat-card-content>
        <h2>Balances</h2>

        <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: 0rem;">
            <div style="flex: 1; padding: 0 1px;">
              <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">CSX</div>
              <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['CSX'].balanceEth)}}</div>
            </div>
          </div>
        
          <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
              <div style="flex: 1; padding: 0 1px;">
                <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">ETH</div>
                <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['ETH'].balanceEth)}}</div>
              </div>
          </div>
        
          <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
            <div style="flex: 1; padding: 0 1px;">
              <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">USDC</div>
              <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['USDC'].balanceEth)}}</div>
            </div>
          </div>
        
          <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
            <div style="flex: 1; padding: 0 1px;">
              <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">USDT</div>
              <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['USDT'].balanceEth)}}</div>
            </div>
          </div>
        
          <div *ngIf="this.web3.webUser.balances!['sCSX'].balanceEth != '0.0000'" style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
            <div style="flex: 1; padding: 0 1px;">
              <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">sCSX</div>
              <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['sCSX'].balanceEth)}}</div>
            </div>
          </div>
        
          <div *ngIf="this.web3.webUser.balances!['eCSX'].balanceEth != '0.0000'" style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
            <div style="flex: 1; padding: 0 1px;">
              <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">eCSX</div>
              <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['eCSX'].balanceEth)}}</div>
            </div>
          </div>
        
          <div *ngIf="this.web3.webUser.balances!['vCSX'].balanceEth != '0.0000'" style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
            <div style="flex: 1; padding: 0 1px;">
              <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">vCSX</div>
              <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['vCSX'].balanceEth)}}</div>
            </div>
          </div>

        </mat-card-content>
    </mat-card>
</div>