<mat-card class="margins background" style="background-image: url(../../../assets/art_csx_sm.png); background-repeat: no-repeat; background-size: cover;">
    <mat-card-content>  
      <h1>Earn</h1>
      <p>Stake CSX to earn rewards.</p>
      <p></p>
    </mat-card-content>
</mat-card>
  
<mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>

<div *ngIf="!this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background" >
        <mat-card-content>
        <h2>Wallet not connected.</h2>
        <p>Connect wallet to retrieve on-chain data, this can be done in the upper-right corner.</p>
        <p></p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="this.web3.webUser.isUserWalletConnected">

    <mat-card class="margins background" style="align-items: center;">
      <mat-card-content style="align-items: center; text-align: center; color: rgb(207, 162, 0)" >
        <h2>Airdrop Imminent!</h2>
        <p>The CSX token will be distributed to the CSX Community shortly.</p>
        <p>Buyers, Sellers & Affiliates are those who will be eligible for the airdrop.</p>
        <p>Be Wary Of Scam Attempts</p>
      </mat-card-content>
    </mat-card>

    <mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>

    <mat-card class="margins background" style="align-items: center;">
      <mat-card-content style="align-items: center; text-align: center;">
        <h2>CSX Staking</h2>
        <div style="flex: 1; padding: 0 1px;">
          <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">Staked CSX</div>
          <div style="font-size: 1rem; color: #9295b3;">{{addCommas(this.web3.webUser.balances!['sCSX'].balanceEth)}} <img src="assets/csx-logo.png" style="height: .9rem; margin-bottom: -2px; margin-right: 2px;"></div>
          <br>
          <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">ETH Reward</div>
          <div style="font-size: .9rem; color: #9295b3;">{{addCommas(stakeInfo.weth.ether)}} <img src="assets/utils/ethereum-eth.png" style="height: .9rem; margin-bottom: -2px; margin-right: 2px;"></div>          
          <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">USDC Reward</div>
          <div style="font-size: .9rem; color: #9295b3;">{{addCommas(stakeInfo.usdc.ether)}} <img src="assets/utils/centre-usdc.png" style="height: .9rem; margin-bottom: -2px; margin-right: 2px;"></div>
          <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">USDT Reward</div>
          <div style="font-size: .9rem; color: #9295b3;">{{addCommas(stakeInfo.usdt.ether)}} <img src="assets/utils/tether-usdt.png" style="height: .9rem; margin-bottom: -2px; margin-right: 2px;"></div>
          <br>
        </div>  
        <div style="display: flex; align-items: center;">
          <button mat-button (click)="submitStake()">Stake</button> 
          <button mat-button (click)="submitClaim()">Claim Rewards</button>
          <button mat-button (click)="submitUnstake()">Unstake</button>                      
        </div>
      </mat-card-content>
      
    </mat-card>

    <mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>

</div>