
<!-- <h1 mat-dialog-title>Buy Item</h1> -->


<mat-dialog-content style="max-width: 600px;">
  <button mat-icon-button mat-dialog-close style="position: absolute; top: 5px; right: 5px;">
    <mat-icon>close</mat-icon>
  </button>
  <div style="text-align: center;">
    <h3>{{item.itemMarketName}}</h3>
    <mat-card>
      <mat-card-content style="display: flex; flex-direction: column; align-items: center;">
        <img style="margin: 10%; max-width: 50%;" mat-card-image [src]="item.itemImageUrl">
        <div style="position: relative; bottom: 5%; white-space: nowrap; z-index: 999; display: flex; justify-content: center;" *ngIf="item.stickers">
            <span *ngFor="let sticker of item.stickers">
                <img style="margin-left: 2%; max-width: 50px;" matTooltip="{{sticker.name}}" [matTooltipShowDelay]="500" class="thumbnail" mat-card-image [src]="sticker.imageLink" alt="{{item.itemMarketName}}">
            </span>
        </div>
    </mat-card-content>
    
      
     
      <app-float-bar [min]="item.float.min" [max]="item.float.max" [value]="item.float.value" ></app-float-bar>
     
    </mat-card>

    <div style="height: 10px;"></div>
  
  <mat-grid-list *ngIf="!isBuyNowClicked" cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div>
        <p><b>Price</b></p>
        <p matTooltip="&sim; ${{item.indexInfo.priceInUSD.toFixed(2)}} USD"><img *ngIf="item.priceType == '0'" src="assets/utils/ethereum-eth.png" style="height: 1rem; margin-bottom: -2px; margin-right: 5px;"><img *ngIf="item.priceType == '1'" src="assets/utils/centre-usdc.png" style="height: 1rem; margin-bottom: -2px; margin-right: 5px;"><img *ngIf="item.priceType == '2'" src="assets/utils/tether-usdt.png" style="height: 1rem; margin-bottom: -2px; margin-right: 5px;">{{item.etherPrice}} <span *ngIf="item.priceType == '0'">ETH</span><span *ngIf="item.priceType == '1'">USDC</span><span *ngIf="item.priceType == '2'">USDT</span><mat-icon *ngIf="referralService.referralInfo.hasReferral" matTooltip="-{{referralService.referralInfo.discountRatio / 2}}% OFF FEE" style="font-size: 1rem; margin-bottom: -0.6rem; margin-left: 0.2rem; color: rgb(52 181 37);">local_offer</mat-icon></p>
      </div>      
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p><b>Seller</b></p>
        <ng-template #customTooltipTemplate>
          <div style="background-color: rgb(16 16 30 / 94%) !important;">
            <app-level-circle [userAddress]="item.seller" [displayTradeDetails]="true"></app-level-circle>
          </div>
        </ng-template>

      <p [appCustomTooltip]="customTooltipTemplate"><a>Stats</a></p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>      
      <div>
        <p matTooltip="Ranging from 1 to 1000, determines the unique pattern of a skin, such as the placement of the artwork, wear, and color distribution."><b>Paint Seed</b></p>
        <p>{{item.skinInfo.paintSeed}}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div>
        <p matTooltip="Paint index is a fixed value for each skin and does not change across different instances of the same skin. Ex. the AWP Dragon Lore has a paint index of 344."><b>Pattern Index</b></p>
        <p>{{item.skinInfo.paintIndex}}</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div style="height: 10px;"></div>

  <mat-stepper [@cardAnimation]="state" hide-header *ngIf="isBuyNowClicked" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <p style="color: red" matTooltip="Ensure Steam Inventory is Public during trades to avoid unexpected results."><b>Warning: Set Steam Inventory to Public for trade success.</b></p>
      <mat-form-field style="width: 100%;" appearance="fill" matTooltipPosition="above" matTooltip="Make sure your Steam Inventory has visibility set to Public at all times during the trade or the trade outcome might not end as expected.">
        <mat-label><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2979613345" target="_blank" rel="noopener noreferrer">Trade Link Url?</a>:</mat-label>
        <!-- Give heads up warning that they need to have inventory set to public -->
        <input matInput formControlName="firstCtrl" required>
        <mat-error *ngIf="firstFormGroup.get('firstCtrl').hasError('required')">
          Trade link is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="firstFormGroup.get('firstCtrl').hasError('pattern')">
          Trade link must be <strong>valid</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <br>
        <span *ngIf="this.item.priceType == '0' && this.web3.webUser.balances!['WETH'].balanceEth != '0.0000'">Pay In
        <mat-radio-group aria-label="Select an option" (change)="onOptionSelected($event)">
          <mat-radio-button value="ETH" color="primary" checked>ETH <img src="assets/utils/ethereum-eth.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></mat-radio-button>
          <mat-radio-button value="WETH" color="primary">WETH <img src="assets/utils/wrapped-eth.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></mat-radio-button>
        </mat-radio-group></span>
        <br>
        <br>
        <span *ngIf="this.web3.webUser.balances!['WETH'].balanceEth == '0.0000' && this.web3.webUser.balances!['ETH'].balanceEth == '0.0000'">
          No funds available for purchase!
        </span>
        <button *ngIf="this.web3.webUser.balances!['WETH'].balanceEth != '0.0000' || this.web3.webUser.balances!['ETH'].balanceEth != '0.0000'" mat-button color="primary" style="font-size: large; color: green !important; min-width: 250px;" matStepperNext cdkFocusInitial (click)="onCheckOutClick()">Checkout</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Sign Wallet TX">
    <div style="height: 20px;"></div>
    <div  class="centered-loading-spinner">
      <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
    <p class="example-margin" style="margin: 1rem;">Open MetaMask and Sign TX <span *ngIf="isApproving">(1/2)</span> <span *ngIf="!isApproving">to buy</span>.</p>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <h3>Congratulations on your new purchase!</h3>

    <p>What's Next:</p>

    <p>Await the Seller's Acceptance and an incoming Steam trade-offer containing your item.</p>

    <p>If the seller declines, your payment will be refunded to your wallet.</p>

    <p>Should the seller remain inactive, you can cancel the purchase after 24 hours from now.</p>

    <p>Track updates via the notification bell at the top-right or through 'My Trades' under the 'Dealings' tab.</p>


    <!-- <mat-stepper linear="true" #stepper2>
      <mat-step [stepControl]="thirdFormGroup" >
          <form [formGroup]="thirdFormGroup">
              <ng-template matStepLabel>Seller Veridict</ng-template>
              <p style="font-size: small;">Waiting for Seller to Accept.</p>
              <div class="centered-loading-spinner">                
                  <span style="color: rgb(124, 130, 235)"></span> <mat-progress-spinner
                  class="example-margin"
                  color="primary"
                  mode="indeterminate"
                  [diameter]="25">
                </mat-progress-spinner>
                </div>
                <p style="font-size: small;"></p>
          </form>
      </mat-step>
      <mat-step [stepControl]="forthFormGroup" label="Sign TX" >
          <form [formGroup]="forthFormGroup">
              <p style="font-size: small;">Seller has accepted! Look for a trade offer by seller on steam.</p>
              <div class="centered-loading-spinner">                
                  <span style="color: rgb(124, 130, 235)"></span> <mat-progress-spinner
                  class="example-margin"
                  color="primary"
                  mode="indeterminate"
                  [diameter]="25">
                </mat-progress-spinner>
                </div>
          </form>
      </mat-step>
    </mat-stepper> -->

    <div>
      <button mat-button mat-dialog-close>Thanks</button>
    </div>
  </mat-step>
</mat-stepper>

 </div>
</mat-dialog-content>
<mat-dialog-actions align="center" *ngIf="!isBuyNowClicked">
  <button mat-button color="primary" style="font-size: large; color: green !important; min-width: 250px;" (click)="onBuyNowClick()" cdkFocusInitial>BUY NOW</button>
</mat-dialog-actions>

<div style="height: 20px;"></div>