<span *ngIf="item">
  <div>
    <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">Seller's Remorse</h1>
  </div>
  <mat-dialog-content>
    <i style="color: #7f94be !important;">You can cancel the order before anyone buys your item without affecting your sales stats.</i>
    <br>
    <br>
    Are you sure you want to cancel {{item.itemMarketName}} sell order?
    <br>
    <br>
    <div *ngIf="!isCancelling">
      <button mat-button cdkFocusInitial [mat-dialog-close]="false">No, Keep My Sell Order!</button>
      <button mat-button color="warn" style="color: rgba(244, 67, 54, 0.726) !important;" (click)="cancelTrade()">Yes, Cancel My Sell Order!</button>
    </div>
    <div *ngIf="isCancelling" class="centered-loading-spinner" >
      Confirm in wallet... <mat-progress-spinner
      class="example-margin"
      color="primary"
      mode="indeterminate"
      [diameter]="25">
    </mat-progress-spinner> 🤔
    </div>
  </mat-dialog-content>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>