<span *ngIf="item">

  <span *ngIf="!hasConfirmedDelivery && !hasOpenDispute">
    <span *ngIf="item.uiInfo.role === 'Buyer'">
      <h1 mat-dialog-title>You have purchased {{item.itemMarketName}} for {{item.etherPrice}} ETH!</h1>
      <mat-dialog-content>
        <h4>It's time to accept the trade offer on Steam from the seller.</h4>


        <p
          style="display: flex; /* or display: inline-block; */ align-items: center; /* centers items vertically in the row */">
          The Keeper-Oracle will automatically release funds to the seller when the item reaches your inventory.
          <span><mat-progress-spinner *ngIf="!isConfirming" class="example-margin" color="primary" mode="indeterminate"
              [diameter]="25">
            </mat-progress-spinner></span>
        </p>

        <p
          style="display: flex; /* or display: inline-block; */ align-items: center; /* centers items vertically in the row */">
          Alternatively, you can manually confirm delivery of the item.
          <span><button (click)="confirmDelivery()" [disabled]="isConfirming" mat-button color="primary" cdkFocusInitial
              style="color: #56a753 !important;">Confirm Delivery</button></span>
          <span *ngIf="isConfirming"><mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
              [diameter]="25">
            </mat-progress-spinner></span>
        </p>

        <p style="color:red;">Caution: If your inventory is set to private, the trade may favor the seller regardless of
          item delivered to you or not, potentially risking loss of funds, item and, damaging your reputation.</p>

        <p
          style="display: flex; /* or display: inline-block; */ align-items: center; /* centers items vertically in the row */">
          Or, if you encounter issues, something seems fishy; then you can lock the trade to disputed.
          <span><button mat-button color="primary" (click)="openDispute(item)" cdkFocusInitial
              style="color: rgb(255 49 67) !important;">Open Dispute</button></span>
        </p>

      </mat-dialog-content>
    </span>

    <span *ngIf="item.uiInfo.role === 'Seller'">
      <h4 style="padding: 0 24px 9px; margin-top: 2rem; color: #5ccf54;">{{item.itemMarketName}} purchased for {{item.etherPrice}} <span *ngIf="item.priceType == '0'">ETH</span> <span *ngIf="item.priceType == '1'">USDC</span> <span *ngIf="item.priceType == '2'">USDT</span>!</h4>

      <mat-dialog-content style="margin-top: -2rem;">
        <h4 style="color: #f14d42;">1&rpar; It's time to send the trade-offer to the buyer.</h4>
        <h4 style="color: #5057dd;">2&rpar; Make sure the {{item.itemMarketName}} is arriving to the <a
            [href]="getSteamId64(this.item!.buyerTradeUrl[0])+'/inventory'" target="_blank">correct inventory</a> or the funds won't be released to you, here
          is the <a [href]="getSteamId64(this.item!.buyerTradeUrl[0])" target="_blank">buyer's steam profile</a>.</h4>
        <h4>Paint Index: {{item.skinInfo.paintIndex}} Paint Seed: {{item.skinInfo.paintSeed}}</h4>
        <app-float-bar [min]="item.float.min" [max]="item.float.max" [value]="item.float.value"></app-float-bar><br>
        <a [href]="getTradeOfferLink()" target="_blank"><button cdkFocusInitial mat-button color="primary" style="color: #5ccf54 !important; margin-bottom: 1rem; width: 100%; background-color: #141525 !important;">Send Trade Offer</button></a>

        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sent Incorrect?
              </mat-panel-title>
              <mat-panel-description>
                Sent Item to wrong inventory.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="margin: 3%;">
              <p>If you sent the item to the incorrect inventory, then you're out of luck!</p>
              <p>You can cancel the trade and the funds will be sent back to the buyer.</p>
              <p><span style="color: rgb(244 67 54 / 38%) !important;">Warning!</span> If you don't deliver the item and
                <u>not</u> cancelling the trade below, the Keeper Oracle will punish on non-delivered committed trades.
              </p>
              <div style="display: flex; /* or display: inline-block; */ align-items: center; /* centers items vertically in the row */">
                <button mat-button color="warn" (click)="openDisputeWithCause(item, 'SELLER_SENT_WRONG_INVENTORY')"
                style="color: rgb(244 67 54 / 38%) !important;">Cancel Trade</button>
                <span *ngIf="isDisputingWrongInventory"><mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="25">
                </mat-progress-spinner></span>
              </div>
              
            </div>
          </mat-expansion-panel>
        </mat-accordion>
        <br>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Trade Link Invalid?
              </mat-panel-title>
              <mat-panel-description>
                Buyer's trade-link is invalid.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="margin: 3%;">
              <p>If the buyer's trade link is invalid, you have the option to either reach out to them on Steam or dispute the trade.</p>
              <p>If you choose to dispute the trade, the funds will be returned to the buyer, and the trade will be voided.</p>
              <p><span style="color: rgb(244 67 54 / 38%) !important;">Warning!</span> 
                Disputing a trade when the link is valid, claiming it's invalid, is a punishable action.
              </p>
              <div style="display: flex; /* or display: inline-block; */ align-items: center; /* centers items vertically in the row */">
                <button mat-button color="warn" (click)="openDisputeWithCause(item, 'BUYER_INVALID_TRADELINK')" style="color: rgb(244 67 54 / 38%) !important;">Open
                  Dispute due to Invalid Trade Link</button>
                  <span *ngIf="isDisputingTL"><mat-progress-spinner  class="example-margin" color="primary" mode="indeterminate" [diameter]="25">
                  </mat-progress-spinner></span>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

        <p><i>The delivery timer has been started, and are awaiting to measure until the item has arrived to the
            buyer.</i></p>

        <p
          style="display: flex; /* or display: inline-block; */ align-items: center; /* centers items vertically in the row */">
          Once the item has arrived at buyer's inventory, the funds will be automatically released to you by the
          Keeper-Oracle.
          <span><mat-progress-spinner class="example-margin" color="primary" mode="indeterminate" [diameter]="25">
            </mat-progress-spinner></span>
        </p>

        <button mat-button color="warn" (click)="openDispute(item)" style="color: rgb(244 67 54 / 38%) !important;">Open
          Dispute</button>
        <button mat-button color="primary" [mat-dialog-close]="true">Close</button>

      </mat-dialog-content>
    </span>
  </span>

  <trades-completed-dialog *ngIf="hasConfirmedDelivery" [item]="item"></trades-completed-dialog>
  <trades-disputed-dialog *ngIf="hasOpenDispute" [item]="item"></trades-disputed-dialog>

</span>