<mat-card *ngIf="this.web3.webUser.isUserWalletConnected && isCouncil" @fadeInOut class="margins background"
    style="background-image: url(../../../assets/art_csx_sm.png); background-repeat: no-repeat; background-size: cover;">
    <mat-card-content>
        <h1>Council</h1>
        <p>Council Administration </p>
        <p></p>
    </mat-card-content>
</mat-card>

<mat-divider style="margin: .5rem; visibility: hidden;"></mat-divider>

<div *ngIf="!this.web3.webUser.isUserWalletConnected">
    <app-wallet-state-info></app-wallet-state-info>
</div>

<div *ngIf="this.web3.webUser.isUserWalletConnected && isCouncil" class="card-container margins">
    <mat-card class="margins background card" style="padding: 1rem; max-width: 96%;">
        <mat-list class="light-text">
            <div mat-subheader><b>Council</b></div>
            <mat-list-item>
                <!-- <mat-icon matListItemIcon class="light-icon link-like" (click)="committToChangeCouncil()">person</mat-icon> -->
                <mat-icon *ngIf="!isChangingCouncil" matListItemIcon class="light-icon link-like" (click)="committToChangeCouncil()">person</mat-icon>
                <div matListItemTitle class="light-icon">{{council}}</div>
            </mat-list-item>
            <div [formGroup]="allForm" *ngIf="isCommittedToChangeCouncil">
                <mat-form-field style="display: flex; align-items: center;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="councilAddress">
                    <mat-error *ngIf="allForm.get('councilAddress')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <button *ngIf="!isChangingCouncil" mat-button matSuffix (click)="submitChangeCouncil()">
                        Change
                    </button>
                    <button *ngIf="!isChangingCouncil" mat-button matPrefix (click)="isCommittedToChangeCouncil = false">
                        X
                    </button>
                    <button *ngIf="isChangingCouncil" mat-button matSuffix>
                        <span class="centered-loading-spinner">
                            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                [diameter]="25">
                            </mat-progress-spinner>
                        </span>
                    </button>
                </mat-form-field>
            </div>
            <div mat-subheader><b>Keeper Oracle</b></div>
            <mat-list-item>
                <mat-icon matListItemIcon class="light-icon link-like" (click)="committToChangeKeeperOracle()">bubble_chart</mat-icon>
                <div matListItemTitle class="light-icon">{{keeperOracle}}</div>
            </mat-list-item>
            <div [formGroup]="allForm" *ngIf="isCommittedToChangeKeeperOracle">
                <mat-form-field style="display: flex; align-items: center;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="keeperOracleAddress">
                    <mat-error *ngIf="allForm.get('keeperOracleAddress')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <button *ngIf="!isChangingKeeperOracle" mat-button matSuffix (click)="submitChangeKeeperOracle()">
                        Change
                    </button>
                    <button *ngIf="!isChangingKeeperOracle" mat-button matPrefix (click)="isCommittedToChangeKeeperOracle = false">
                        X
                    </button>
                    <button *ngIf="isChangingKeeperOracle" mat-button matSuffix>
                        <span class="centered-loading-spinner">
                            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                [diameter]="25">
                            </mat-progress-spinner>
                        </span>
                    </button>
                </mat-form-field>
            </div>
        </mat-list>
    </mat-card>

    <mat-card class="margins background card" style="padding: 1rem; max-width: 96%;">
        <!-- <b>Keepers</b>
      <br> -->
        <b style="margin: calc((3rem - 1.5rem)/2) 16px;">Add Keeper</b>
        <br>
        <div [formGroup]="allForm">
            <mat-form-field style="display: flex; align-items: center;">
                <mat-label>Address</mat-label>
                <input matInput formControlName="keepersAddress">
                <mat-error *ngIf="allForm.get('keepersAddress')?.hasError('required')">
                    This field is required.
                </mat-error>
                <button *ngIf="!isAddingKeeper" mat-button matSuffix (click)="submitAddKeeper()">
                    Add
                </button>
                <button *ngIf="isAddingKeeper" mat-button matSuffix>
                    <span class="centered-loading-spinner">
                        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                            [diameter]="25">
                        </mat-progress-spinner>
                    </span>
                </button>
            </mat-form-field>
        </div>
        <div style="display: flex; align-items: center;">
            <mat-list class="light-text">
                <div mat-subheader><b>Keepers</b></div>
                <mat-list-item class="light-text-item" *ngFor="let keeper of keepers">
                    <mat-icon *ngIf="!isRemovingKeeper" matListItemIcon class="light-icon link-like" (click)="removeKeeper(keeper)">person</mat-icon>
                    <span matListItemIcon class="centered-loading-spinner" *ngIf="isRemovingKeeper">
                        <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                            [diameter]="25">
                        </mat-progress-spinner>
                    </span>
                    <div matListItemTitle class="light-icon">{{keeper}}</div>
                </mat-list-item>
                <mat-list-item class="light-text-item" *ngIf="keepers.length == 0">
                    <mat-icon matListItemIcon class="light-icon">person</mat-icon>
                    <div matListItemTitle class="light-icon">N/A</div>
                </mat-list-item>

            </mat-list>
        </div>
    </mat-card>
    
    <mat-card class="margins background card" style="padding: 1rem; max-width: 96%;">
        <mat-list class="light-text">
            <div mat-subheader><b>Staked Rewards</b></div>
            <mat-list-item>
                <!-- <mat-icon matListItemIcon class="light-icon link-like" (click)="committToChangeCouncil()">person</mat-icon> -->
                <mat-icon *ngIf="!isSubmittingDistributeRewards" matListItemIcon class="light-icon link-like" (click)="submitDistributeRewards()">vertical_distribute</mat-icon>
                <div matListItemTitle class="light-icon">Distribute Rewards</div>
            </mat-list-item>
            <mat-list class="light-text">
                <div mat-subheader><b>Distribute Ready Rewards</b></div>
                <mat-list-item class="light-text-item">
                    <mat-icon matListItemIcon class="light-icon link-like"><img src="assets/utils/wrapped-eth.png" style="height: 1.5rem;"></mat-icon>
                    <div matListItemTitle class="light-icon">{{nonDistributedRewardsWETH}} WETH</div>
                </mat-list-item>
                <mat-list-item class="light-text-item">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/centre-usdc.png" style="height: 1.5rem;"></mat-icon>
                    <div matListItemTitle class="light-icon">{{nonDistributedRewardsUSDC}} USDC</div>
                </mat-list-item>
                <mat-list-item class="light-text-item">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/tether-usdt.png" style="height: 1.5rem;"></mat-icon>
                    <div matListItemTitle class="light-icon">{{nonDistributedRewardsUSDT}} USDT</div>
                </mat-list-item>
            </mat-list>
            <mat-list class="light-text">
                <div mat-subheader><b>Info</b></div>
                <!-- sCSXInfo -->
                <mat-list-item class="light-text-item">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/wrapped-eth.png" style="height: 1rem;"></mat-icon>
                    <div matListItemLine class="light-icon">Duration: {{sCSXInfo[0]?.duration}}</div>
                    <div matListItemLine class="light-icon">finishAt: {{sCSXInfo[0]?.finishAt}}</div>
                    <div matListItemLine class="light-icon">updatedAt: {{sCSXInfo[0]?.updatedAt}}</div>
                    <div matListItemLine class="light-icon">rewardRate: {{sCSXInfo[0]?.rewardRate}}</div>
                    <div matListItemLine class="light-icon">rewardPerTokenStored: {{sCSXInfo[0]?.rewardPerTokenStored}}</div>
                    <div matListItemLine class="light-icon">lastTimeRewardApplicable: {{sCSXInfo[0]?.lastTimeRewardApplicable}}</div>
                </mat-list-item>
                <br>
                <mat-list-item class="light-text-item">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/centre-usdc.png" style="height: 1rem;"></mat-icon>
                    <div matListItemLine class="light-icon">Duration: {{sCSXInfo[1]?.duration}}</div>
                    <div matListItemLine class="light-icon">finishAt: {{sCSXInfo[1]?.finishAt}}</div>
                    <div matListItemLine class="light-icon">updatedAt: {{sCSXInfo[1]?.updatedAt}}</div>
                    <div matListItemLine class="light-icon">rewardRate: {{sCSXInfo[1]?.rewardRate}}</div>
                    <div matListItemLine class="light-icon">rewardPerTokenStored: {{sCSXInfo[1]?.rewardPerTokenStored}}</div>
                    <div matListItemLine class="light-icon">lastTimeRewardApplicable: {{sCSXInfo[1]?.lastTimeRewardApplicable}}</div>
                </mat-list-item>
                <br>
                <mat-list-item class="light-text-item">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/tether-usdt.png" style="height: 1rem;"></mat-icon>
                    <div matListItemLine class="light-icon">Duration: {{sCSXInfo[2]?.duration}}</div>
                    <div matListItemLine class="light-icon">finishAt: {{sCSXInfo[2]?.finishAt}}</div>
                    <div matListItemLine class="light-icon">updatedAt: {{sCSXInfo[2]?.updatedAt}}</div>
                    <div matListItemLine class="light-icon">rewardRate: {{sCSXInfo[2]?.rewardRate}}</div>
                    <div matListItemLine class="light-icon">rewardPerTokenStored: {{sCSXInfo[2]?.rewardPerTokenStored}}</div>
                    <div matListItemLine class="light-icon">lastTimeRewardApplicable: {{sCSXInfo[2]?.lastTimeRewardApplicable}}</div>
                </mat-list-item>
            </mat-list>
        </mat-list>
    </mat-card>  

    <mat-card class="margins background card" style="padding: 1rem; max-width: 96%;">
        <mat-list class="light-text">
            <div mat-subheader><b>CSX Token</b></div>
            <mat-list-item class="light-text-item">
                <mat-icon matListItemIcon class="light-icon"><img src="assets/csx-logo.png" style="height: 1.2rem;" (click)="committToMintCSXTokens()"></mat-icon>
                <div matListItemTitle class="light-icon">{{totalSupply}} tokens</div>
            </mat-list-item>
            <div [formGroup]="allForm" *ngIf="isCommittedToMintCSXTokens">
                <mat-form-field style="display: flex; align-items: center;">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="mintAddress">
                    <mat-error *ngIf="allForm.get('mintAddress')?.hasError('required')">
                        This field is required.
                    </mat-error>
                    <button *ngIf="!isChangingMintCSXTokens" mat-button matPrefix (click)="allForm.get('mintAddress')?.setValue('')">
                        X
                    </button>
                    <button *ngIf="isChangingMintCSXTokens" mat-button matSuffix>
                        <span class="centered-loading-spinner">
                            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                [diameter]="25">
                            </mat-progress-spinner>
                        </span>
                    </button>
                </mat-form-field>
                <mat-form-field style="display: flex; align-items: center;">
                    <mat-label>Wei Amount (18)</mat-label>
                    <input matInput formControlName="mintValue">
                    <mat-error *ngIf="allForm.get('mintValue')?.hasError('required')">
                        This field is required.
                    </mat-error>                        
                    <button *ngIf="!isChangingMintCSXTokens" mat-button matPrefix (click)="allForm.get('mintValue')?.setValue('')">
                        X
                    </button>
                    <button *ngIf="isChangingMintCSXTokens" mat-button matSuffix>
                        <span class="centered-loading-spinner">
                            <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                [diameter]="25">
                            </mat-progress-spinner>
                        </span>
                    </button>
                </mat-form-field>                    
                <button *ngIf="!isChangingMintCSXTokens" mat-button matSuffix (click)="submitMintCSXTokens()">
                    Mint
                </button>
            </div>
        </mat-list>
    </mat-card>

    <mat-card class="margins background card" style="padding: 1rem; max-width: 96%;">
        <mat-list class="light-text">
            <div mat-subheader><b>Staked CSX</b></div>
            <mat-list-item class="light-text-item">
                <mat-icon matListItemIcon class="light-icon"><img src="assets/csx-logo.png" style="height: 1.2rem;" (click)="committToSetRewardDurationFunc()"></mat-icon>
                <div matListItemTitle class="light-icon">Reward Duration</div>
            </mat-list-item>
           
            <div style="margin-left: 1rem;">
                <mat-list-item class="light-text-item" *ngIf="committToSetRewardDuration">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/wrapped-eth.png" style="height: 1.2rem;" (click)="committToDist('WETH')"></mat-icon>
                    <div matListItemTitle class="light-icon">Wrapped ETH</div>
                </mat-list-item>
                <div [formGroup]="allForm" *ngIf="priceTypeToBoolDist['WETH'] && committToSetRewardDuration">
                    <mat-form-field style="display: flex; align-items: center;">
                        <mat-label>Reward Duration (in seconds)</mat-label>
                        <input matInput formControlName="rewardDurationWETH" type="number">
                        <mat-error *ngIf="allForm.get('rewardDurationWETH')?.hasError('required')">
                            This field is required.
                        </mat-error>
                        <button *ngIf="!isChangingMintCSXTokens" mat-button matPrefix (click)="allForm.get('rewardDurationWETH')?.setValue('')">
                            X
                        </button>
                        <button *ngIf="isChangingMintCSXTokens" mat-button matSuffix>
                            <span class="centered-loading-spinner">
                                <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                    [diameter]="25">
                                </mat-progress-spinner>
                            </span>
                        </button>
                    </mat-form-field>                
                    <button *ngIf="!isChangingMintCSXTokens" mat-button matSuffix (click)="submitMintCSXTokens()">
                        Set Duration
                    </button>
                </div>

                <mat-list-item class="light-text-item" *ngIf="committToSetRewardDuration">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/centre-usdc.png" style="height: 1.2rem;" (click)="committToDist('USDC')"></mat-icon>
                    <div matListItemTitle class="light-icon">USDC</div>
                </mat-list-item>
                <div [formGroup]="allForm" *ngIf="priceTypeToBoolDist['USDC'] && committToSetRewardDuration">
                    <mat-form-field style="display: flex; align-items: center;">
                        <mat-label>Reward Duration (in seconds)</mat-label>
                        <input matInput formControlName="rewardDurationUSDC" type="number">
                        <mat-error *ngIf="allForm.get('rewardDurationUSDC')?.hasError('required')">
                            This field is required.
                        </mat-error>
                        <button *ngIf="!isChangingMintCSXTokens" mat-button matPrefix (click)="allForm.get('rewardDurationUSDC')?.setValue('')">
                            X
                        </button>
                        <button *ngIf="isChangingMintCSXTokens" mat-button matSuffix>
                            <span class="centered-loading-spinner">
                                <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                    [diameter]="25">
                                </mat-progress-spinner>
                            </span>
                        </button>
                    </mat-form-field>                
                    <button *ngIf="!isChangingMintCSXTokens" mat-button matSuffix (click)="submitSetRewardDuration('USDC')">
                        Set Duration
                    </button>
                </div>

                <mat-list-item class="light-text-item" *ngIf="committToSetRewardDuration">
                    <mat-icon matListItemIcon class="light-icon"><img src="assets/utils/tether-usdt.png" style="height: 1.2rem;" (click)="committToDist('USDT')"></mat-icon>
                    <div matListItemTitle class="light-icon">USDT</div>
                </mat-list-item>
                <div [formGroup]="allForm" *ngIf="priceTypeToBoolDist['USDT'] && committToSetRewardDuration">
                    <mat-form-field style="display: flex; align-items: center;">
                        <mat-label>Reward Duration (in seconds)</mat-label>
                        <input matInput formControlName="rewardDurationUSDT" type="number">
                        <mat-error *ngIf="allForm.get('rewardDurationUSDT')?.hasError('required')">
                            This field is required.
                        </mat-error>
                        <button *ngIf="!isChangingMintCSXTokens" mat-button matPrefix (click)="allForm.get('rewardDurationUSDT')?.setValue('')">
                            X
                        </button>
                        <button *ngIf="isChangingMintCSXTokens" mat-button matSuffix>
                            <span class="centered-loading-spinner">
                                <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"
                                    [diameter]="25">
                                </mat-progress-spinner>
                            </span>
                        </button>
                    </mat-form-field>                
                    <button *ngIf="!isChangingMintCSXTokens" mat-button matSuffix (click)="submitMintCSXTokens()">
                        Set Duration
                    </button>
                </div>
            </div>

        </mat-list>
    </mat-card>  
</div>