<span *ngIf="item">
  <div>
    <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">Trade has been disputed</h1>
  </div>
  <mat-dialog-content>
    <i *ngIf="isDisputeer" style="color: #7f94be !important;">You have disputed the trade.</i>
    <i *ngIf="!isDisputeer" style="color: #7f94be !important;">The {{oppositeRole}} has disputed the order.</i>
    <br>
    <br>
    Reason: {{disputeComplaint}}
    <br>
    <br>
    The Keeper-Oracle and the designated Keepers will now review the trade and decide on the outcome.
  </mat-dialog-content>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>