<span *ngIf="item">
  <div>
    <h1 mat-dialog-title style="color: rgb(172, 134, 0) !important;">Trade has been disputed</h1>
  </div>
  <mat-dialog-content>
    <span *ngIf="isDisputeer">You have disputed the trade.</span>
    <span *ngIf="!isDisputeer">The {{oppositeRole}} has disputed the order.</span>
    <br>
    <br>
    <i style="color: #7f94be !important;">Reason: "{{disputeComplaint}}"</i> 
    <br>
    <br>
    <span *ngIf="!isDisputeer">The Keeper-Oracle and the designated Keepers are reviewing the trade to see if the reported reason is accurate. The trade status will change once the validation has been verified.</span>
    <span *ngIf="isDisputeer">The Keeper-Oracle and the designated Keepers are currently reviewing the trade, investigating based on the details you provided in the dispute. The trade status will change once the validation has been verified.</span>
  </mat-dialog-content>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>