<span *ngIf="item">
  <div>
    <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">Resolved Dialog</h1>
  </div>
  <mat-dialog-content>
    <i style="color: #7f94be !important;">Resolved Dialog Resolved Dialog Resolved Dialog.</i>
    <br>
    <br>
    Resolved Dialog {{item.itemMarketName}}
    <br>
    <br>
    <button mat-button color="warn" [mat-dialog-close]="true" style="color: rgb(244 67 54 / 38%) !important;">Yes</button>
    <button mat-button cdkFocusInitial [mat-dialog-close]="false">No</button>
  </mat-dialog-content>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>