<mat-card @fadeInOut class="margins background" style="background-image: url(../../../assets/art_csx_sm.png); background-repeat: no-repeat; background-size: cover;">
  <mat-card-content>

    <h1>CS Skins for Sale</h1>
    <p>Buy or Sell Counter-Strike Skins.</p>
    <p></p>
  </mat-card-content>
</mat-card>
<mat-divider style="margin: .5rem; visibility: hidden;"></mat-divider>

<div *ngIf="this.web3.webUser.isUserWalletConnected">
  <div class="margins">
    <mat-accordion >

      <mat-expansion-panel showToggle (opened)="onDealingsOpen()">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3>Dealings</h3>
          </mat-panel-title>
          <mat-panel-description>
            List for Sale & My Trades.
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-tab-group  (selectedTabChange)="onTabChange($event)">
          <mat-tab label="List Item for Sale">
            <app-list-item></app-list-item>
          </mat-tab>
          <mat-tab label="My Trades">
            <div style="padding: 0 24px 16px;">
              <app-my-trades *ngIf="hasInitTradesClick"></app-my-trades>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>

    </mat-accordion>

  <mat-divider style="margin: .5rem; visibility: hidden;"></mat-divider>
  <app-recently-listed-items></app-recently-listed-items>
</div>
  <!-- <app-recently-listed-items></app-recently-listed-items> -->
</div>

<div *ngIf="!this.web3.webUser.isUserWalletConnected" @fadeInOut>
  <app-wallet-state-info></app-wallet-state-info>
</div>


