<span *ngIf="item">
  <div>
    <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">Trade has been clawbacked</h1>
  </div>
  <mat-dialog-content>
    <i style="color: #7f94be !important;">Reason: {{clawbackReason}}</i>
    <br>
    <p *ngIf="clawbackReason == 'INVALID_ITEM'">
      Item details were invalid, resulting in the trade being nullified.
    </p>
  </mat-dialog-content>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>