<span *ngIf="item">
  <span *ngIf="item.uiInfo.role === 'Seller'">
    <div>
      <h1 mat-dialog-title style="color: rgb(255 49 67) !important;">You have successfully cancelled the order.</h1>
    </div>
    <mat-dialog-content>
      <i style="color: #7f94be !important;">{{item.itemMarketName}} has been delisted.</i>
      <br>
      <br>
      <button mat-button cdkFocusInitial [mat-dialog-close]="false">OK!</button>
    </mat-dialog-content>
  </span>
</span>
<span *ngIf="!item">
  <mat-dialog-content>
    Error! Please try again later.
  </mat-dialog-content>
</span>