/* font sizes */
h1 {
  font-size: 24px;
}

// Adjust font size based on screen size
@media (max-width: 1199px) {
  h1 {
    font-size: 22px;

  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 18px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 16px;
  }
}


/* default */

.margins {
  margin: auto;
  margin-left: 15%;
  margin-right: 15%;
  color: #afb2d6;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  background-color: #0c0c0c34;
}


/* product-page.component.css */
.container {
  display: flex;
  flex-direction: row;
}

.left-column,
.right-column {
  padding: 15px;
}

.left-column {
  flex: 60%;
  margin-right: 20px;
}

.right-column {
  flex: 40%;
  margin-left: 20px;
}

/* CSS for smaller screens */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column,
  .right-column {
    flex: 100%;
    margin: 0;
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
}

/* Image */
/* Default Style */
.responsive-img {
  width: 100%; // Default size
  height: auto;
}

/* Customized sizes based on screen width */
@media (max-width: 1199px) {
  .responsive-img {
    width: 90%;
  }
}

@media (max-width: 991px) {
  .responsive-img {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .responsive-img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  .responsive-img {
    width: 60%;
  }
}

/**
  *  Thumbnail Stickers
  */
.thumbnail {
  // top:-50px;
  // left:-35px;
  // display:block;
  // z-index:999;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.thumbnail:hover {
  transform: scale(3);

}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

::ng-deep .mat-step-icon-state-done {
  background-color: #974539 !important;
}

::ng-deep .trade-did-not-happen .mat-step-icon {
  background-color: red !important;
  color: white !important;
}

::ng-deep .trade-did-happen .mat-step-icon {
  background-color: green !important;
  color: white !important;
}


// stepper: 
// .mat-step-header .mat-step-icon-state-done,
// .mat-step-header .mat-step-icon-state-edit {
//   background-color: transparent !important;
//   color: $success;

//   +.mat-step-label {
//     color: $success !important;
//   }
// }

// .mat-step-header .mat-step-icon-selected {
//   // background-color: $primary;
//   background-color: transparent !important;
//   color: $primary;

//   +.mat-step-label {
//     color: $primary !important;
//   }
// }

.mat-step-header .mat-step-label {
  color: rgba(0, 0, 0, .54)
}

.mat-step-header .mat-step-icon {
  color: rgba(0, 0, 0, .54);
  background-color: transparent;
}