// ::ng-deep .mat-step-label {
//     font-size: 10px !important;
// }

// ::ng-deep .mat-horizontal-stepper-header-container {
//     width: 100%;
// }

::ng-deep .mat-step-label {
    font-size: 1.3vw;
}

@media screen and (max-width: 600px) {
    ::ng-deep .mat-step-label {
        font-size: .77rem;
    }
}

@media screen and (min-width: 1200px) {
    ::ng-deep .mat-step-label {
        font-size: .77rem;
    }
}

