
<!-- timeline.component.html -->
<div class="timeline-container">
  <div class="timeline-line"></div>

  <span *ngIf="!isLoading">
    <div *ngFor="let event of statusHistory; let isOdd = odd" class="timeline-item" [class.timeline-item-odd]="isOdd">
        <mat-card class="event-card" @fadeInOut>
          <div [ngClass]="{'color-line-left': isOdd, 'color-line-right': !isOdd}" [style.background-color]="getLineColor(event.status)"></div>
          <mat-card-header>
            <mat-card-title>{{ event.title }}</mat-card-title>
            <mat-card-subtitle>{{ event.subTitle }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ event.description }}</p>
          </mat-card-content>
        </mat-card>    
      </div>
  </span>
  <span *ngIf="isLoading">
    <div *ngFor="let gg of statusSkeleton; let isOdd = odd" class="timeline-item" [class.timeline-item-odd]="isOdd">
        <mat-card class="event-card">
            <mat-card-header>
                <ngx-skeleton-loader 
                count="3" 
                appearance="line" 
                animation="progress" 
                [theme]="{'background-color': 'rgb(20 21 37)', 
                height: '12px', 'border-radius': 5 }" 
                style="display: block; width: 100%;">
            </ngx-skeleton-loader>
            </mat-card-header>
          </mat-card>
      </div>
  </span>
  
</div>

