
.toolbarTextColor {
  color: #a0a3c4;
  //position: relative;
  //max-width: 1200px;
  //margin: 0 auto;
}

.toolbarBg {
  background-color: #26262612;
}

.example-spacer {
  flex: 1 1 auto;
}

// .gg {
//   margin: auto;
//   margin-left : 15% !important;
//   margin-right: 15% !important;
// }

.mat-tooltip {
  /* your own custom styles here */
  /* e.g. */
  color: yellow;
}

.mat-badge-content {
  font-family: 'Material Icons';
}

//Button border-color
// .mat-mdc-outlined-button:not(:disabled) {
//   // border-color: var(--mdc-outlined-button-outline-color, rgba(0, 0, 0, 0.12));
//   border-color: var(--mdc-outlined-button-outline-color, rgba(0, 0, 0, 0.12));
// }
