<mat-toolbar class="mat-elevation-z6 toolbarBg toolbarTextColor" style="background: transparent 0 0 no-repeat padding-box;">
  
  <div class="navbar-content-wrapper">
    <button routerLink="/" mat-button>
      <span class="mat-button-wrapper" style="display: flex; align-items: center;">
        <img height="35" src="../../../assets/csx-logo.png" class="skins-market-logo">
        <span style="font-size: 13px; padding: .5rem; color: rgb(175 178 214) !important;"><h1><b style="font-weight: 100;">CSX</b></h1></span>
      </span>
    </button>
    <span fxHide fxShow.gt-xs>
      <a style="text-decoration: none; margin: 1%;" routerLink="/" ><button mat-button style="color: rgb(175 178 214) !important;">Trade</button></a>
      <a style="text-decoration: none; margin: 1%;" routerLink="/earn"><button mat-button style="color: rgb(175 178 214) !important;">Earn</button></a>
      <a style="text-decoration: none; margin: 1%;" matTooltip="Coming Soon."><button disabled="true" mat-button style="color: rgb(103, 105, 121) !important;">Buy</button></a>
      <a style="text-decoration: none; margin: 1%;" routerLink="/referrals"><button mat-button style="color: rgb(175 178 214) !important;">Referrals</button></a>
    </span>
    <span class="example-spacer"></span>
    <button mat-icon-button  fxHide fxShow.lt-sm [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button> 
    <button [ngClass]="{ 'swing-animation': unreadNotifications !== 0 }" mat-icon-button (click)="onNotiBellClick()" [matMenuTriggerFor]="notisMenu" matBadge="{{unreadNotifications}}" [matBadgeHidden]="unreadNotifications === 0" matBadgeColor="warn">
      <mat-icon>notifications</mat-icon>
    </button>
  
    <button matBadge="X" matBadgeColor="warn" *ngIf="!this._web3.webUser.isUserWalletConnected && !this._web3.webUser.isWrongChain" mat-icon-button [matMenuTriggerFor]="walletMenuConnect" aria-label="Example icon-button with a menu">
      <mat-icon mat-button >wallet</mat-icon>
    </button>
    
    <button matBadge="&#x2713;" matBadgeColor="primary" *ngIf="this._web3.webUser.isUserWalletConnected && !this._web3.webUser.isWrongChain" mat-icon-button [matMenuTriggerFor]="walletMenuConnected" aria-label="Example icon-button with a menu">
      <mat-icon mat-button >wallet</mat-icon>
    </button>
    
    <button (click)="onIncorrectNetworkClick()" *ngIf="this._web3.webUser.isWrongChain && this._web3.webUser.hasEthWallet" mat-stroked-button style="color: rgb(236, 9, 9);">Incorrect Network</button>
    
    <a href="https://metamask.io/" target="_blank" *ngIf="!this._web3.webUser.hasEthWallet" mat-stroked-button style="color: rgb(236, 9, 9); font-size: 12px;">No Wallet Found</a>  
  </div>


</mat-toolbar>

<mat-menu #notisMenu="matMenu" class="backgroundColor">
  <mat-list>
    <p style="font-size: 16px; margin: initial; margin-bottom: 10px;" class="toolbarTextColor">    Notifications</p>
      <mat-divider style="border-top-color: rgb(227 227 227 / 12%)"></mat-divider>
    <span *ngFor="let notice of this.notificationsService.notifications">

      <span *ngIf="notice.isDialog && notice.link">
        <mat-list-item style="height: auto;" (click)="openDaDialog(notice.link)">
          <p style="font-size: .8rem; white-space: initial;" class="toolbarTextColor">{{notice.message}}</p>
          <span *ngIf="notice.link">
           <a><p style="font-size: 14px;">({{notice.linkText}})</p></a>
          </span>
      </mat-list-item>
      </span>

      <a *ngIf="!notice.isDialog && notice.link" href="{{notice.link}}" target="_blank" style="text-decoration: none; color: inherit;">
        <mat-list-item style="height: auto;">
          <p style="font-size: .8rem; white-space: initial;" class="toolbarTextColor">{{notice.message}}</p>
          <span *ngIf="notice.link">
           <a><p style="font-size: 14px;">({{notice.linkText}})</p></a>
          </span>
         </mat-list-item>
      </a>

      <mat-divider style="border-top-color: rgb(227 227 227 / 12%)"></mat-divider>
    </span>
    <span *ngIf="this.notificationsService.notifications.length == 0">
      <mat-list-item> <p  class="toolbarTextColor">nothing 👀 here</p> </mat-list-item>
    </span>

  </mat-list>
</mat-menu>

<mat-menu #menu="matMenu" class="backgroundColor">
    <a mat-menu-item style="text-decoration: none; margin: 1%;" routerLink="/"><p style="color: rgb(175 178 214) !important;">Trade</p></a>
    <a mat-menu-item style="text-decoration: none; margin: 1%;" routerLink="/earn"><p style="color: rgb(175 178 214) !important;">Earn</p></a>
    <a mat-menu-item [disabled]="true" style="text-decoration: none; margin: 1%;" matTooltip="Coming Soon."><p style="color: rgb(103, 105, 121) !important;">Buy</p></a>
    <a mat-menu-item style="text-decoration: none; margin: 1%;" routerLink="/referrals"><p style="color: rgb(175 178 214) !important;">Referrals</p></a>
</mat-menu>

<mat-menu #walletMenuConnect="matMenu" class="backgroundColor" style="margin: 5%;">
  <button (click)="connectWallet()" mat-menu-item><p class="toolbarTextColor">Connect Wallet</p></button>
</mat-menu>

<mat-menu #walletMenuConnected="matMenu" class="backgroundColor" style="margin: 5%;"> 
  <app-level-circle *ngIf="this._web3.webUser.isUserWalletConnected" [userAddress]="this._web3.webUser.address!" [displayTradeDetails]="true"></app-level-circle>

  <mat-divider style="border-top-color: rgb(227 227 227 / 12%)"></mat-divider>

  <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: 0rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">CSX <img src="assets/csx-logo.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['CSX'].balanceEth)}}</div>
    </div>
  </div>

  <div *ngIf="this._web3.webUser.balances!['sCSX'].balanceEth != '0.0000'" style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">Staked CSX <img src="assets/csx-logo.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['sCSX'].balanceEth)}}</div>
    </div>
  </div>

  <div *ngIf="this._web3.webUser.balances!['eCSX'].balanceEth != '0.0000'" style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">eCSX (Escrowed CSX) <img src="assets/csx-logo.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['eCSX'].balanceEth)}}</div>
    </div>
  </div>

  <div *ngIf="this._web3.webUser.balances!['vCSX'].balanceEth != '0.0000'" style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">vCSX (Vested CSX) <img src="assets/csx-logo.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['vCSX'].balanceEth)}}</div>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
      <div style="flex: 1; padding: 0 1px;">
        <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">ETH <img src="assets/utils/ethereum-eth.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
        <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['ETH'].balanceEth)}}</div>
      </div>
  </div>

  <div  style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">WETH <img src="assets/utils/wrapped-eth.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"><a href="javascript:void(0);" (click)="openSwapDialog(this._web3.webUser.balances)">(?)</a> </div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['WETH'].balanceEth)}}</div>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">USDC <img src="assets/utils/centre-usdc.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['USDC'].balanceEth)}}</div>
    </div>
  </div>

  <div style="display: flex; justify-content: space-between; max-width: 148px; padding: 10px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 1px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 1px; color: #afb2d6;">USDT <img src="assets/utils/tether-usdt.png" style="height: .9rem; margin-bottom: -2px; margin-right: 5px;"></div>
      <div style="font-size: .9rem; color: #9295b3;">{{addCommas(this._web3.webUser.balances!['USDT'].balanceEth)}}</div>
    </div>
  </div>

  <mat-divider style="border-top-color: rgb(227 227 227 / 12%)"></mat-divider>
  <p class="toolbarTextColor " style="font-size: .9rem; padding-left: 10px;" matTooltip="Permanent Ban: 3 Minor Misconducts or 1 Major Misconduct">Warnings: <span>0</span></p>
  <mat-divider style="border-top-color: rgb(227 227 227 / 12%)"></mat-divider>
</mat-menu>