
.toolbarTextColor {
  color: #a0a3c4;
}

.toolbarBg {
  backdrop-filter: blur(4px);
  box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.2);
  border: 1px solid hsla(0, 0%, 100%, 0.0784313725);
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-tooltip {
  color: yellow;
}

.mat-badge-content {
  font-family: 'Material Icons';
}

.swing-animation {
  animation: swing 2s ease infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(10deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(7deg);
  }
  80% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(0);
  }
}

.navbar-content-wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
