<a (click)="onClick()"><circle-progress 
  [percent]="percent"
  [radius]="radius"
  [outerStrokeWidth]="outerStrokeWidth"
  [innerStrokeWidth]="innerStrokeWidth"
  [outerStrokeColor]="outerStrokeColor"
  [innerStrokeColor]="innerStrokeColor"
  [animation]="animation"
  [animationDuration]="animationDuration"
  [subtitle]="[subtitle]"
  [title]="title"
  [units]="units"
  [unitsColor]="unitsColor"
  [titleColor]="titleColor"
  [titleFontSize]="'1rem'"
  [subtitleColor]="subtitleColor"
  [subtitleFontSize]="subtitleFontSize"
></circle-progress></a>
<div *ngIf="displayTradeDetails" style="display: flex; justify-content: space-between; max-width: 148px; padding: 20px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 5px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 5px; color: #afb2d6;">Trades</div>
      <div style="font-size: 1rem; color: #9295b3;">{{totalTrades}}</div>
    </div>
    <div style="flex: 1; padding: 0 5px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 5px; color: #afb2d6;">Avg D.</div>
      <div *ngIf="avgDeliveryTime != '0'" style="font-size: 1rem; color: #9295b3;">{{avgDeliveryTime}}<span *ngIf="isInMinutes">min</span> <span *ngIf="!isInMinutes">hrs</span></div>
      <div *ngIf="avgDeliveryTime == '0'" style="font-size: 1rem; color: #9295b3;">N/A</div>
    </div>
</div>
<div *ngIf="displayTradeDetails" style="display: flex; justify-content: space-between; max-width: 148px; padding: 20px; box-sizing: border-box; margin-top: -1rem;">
    <div style="flex: 1; padding: 0 5px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 5px; color: #afb2d6;">-Rep</div>
      <div style="font-size: 1rem; color: #9295b3;">{{reputationNeg}}</div>
    </div>
    <div style="flex: 1; padding: 0 5px;">
      <div style="font-weight: bold; font-size: .8rem; margin-bottom: 5px; color: #afb2d6;">+Rep</div>
      <div style="font-size: 1rem; color: #9295b3;">{{reputationPos}}</div>
    </div>
</div>