<mat-card class="margins background" style="align-items: center; text-align: center;">
   
    <mat-dialog-content>
        <h2>Unwrap / Wrap ETH</h2>
    </mat-dialog-content>
</mat-card>

<div style="max-width: 380px; text-align: center;" [formGroup]="swapForm"> <!--490 -->
    <mat-card-content>
        <p style="margin: 1rem;">
            Unwrapping WETH turns it back into regular Ethereum. Wrapping (ETH to WETH) allows your Ethereum to act like any other ERC20 token.
        </p> <br>
        <mat-form-field style="width: 100%;">
            <mat-label>From ({{fromName}}) New Balance: {{fromBalance - swapForm.get('fromValue')?.value}}</mat-label>
            <input matInput formControlName="fromValue" type="number">
            <mat-error *ngIf="swapForm.get('fromValue')?.hasError('required')">
                This field is required.
            </mat-error>
            <mat-error *ngIf="swapForm.get('fromValue')?.hasError('pattern')">
                Only numbers are allowed.
            </mat-error>
            <mat-error *ngIf="swapForm.get('fromValue')?.hasError('maxValue')">
                The maximum value is {{fromBalance}}.
            </mat-error>
            <mat-error *ngIf="swapForm.get('fromValue')?.hasError('min')">
                The value must be greater than 0.
            </mat-error>
            <button (click)="setMaxValue()" mat-button matSuffix>
                Max {{fromBalance}}
            </button>
        </mat-form-field>
        
        <button mat-button color="primary" (click)="toggleDirection()">
            <mat-icon style="transform: scaleY(-1);">swap_vert</mat-icon>
        </button> 
        <br><br>
        <mat-form-field style="width: 100%;">
            <mat-label>To ({{toName}}) New Balance: {{toBalance + swapForm.get('fromValue')?.value}}</mat-label>
            <input matInput formControlName="toValue" readonly>
        </mat-form-field>

        <button *ngIf="!isSigninTX" [disabled]="swapForm.invalid" mat-button color="primary" (click)="swap()">
            <span *ngIf="fromName == 'ETH'">Wrap</span>
            <span *ngIf="fromName == 'WETH'">Unwrap</span>
        </button>

        <div class="centered-loading-spinner" *ngIf="isSigninTX">                
            <span>Confirm <span *ngIf="fromName == 'ETH'">Wrap</span><span *ngIf="fromName == 'WETH'">Unwrap</span> in Wallet.. </span><mat-progress-spinner
            class="example-margin"
            color="primary"
            mode="indeterminate"
            [diameter]="25">
          </mat-progress-spinner>
          </div>
    </mat-card-content>
</div>

