<mat-card class="margins background" style="background-image: url(../../../assets/art_csx_sm.png);">
    <mat-card-content>  
      <h1>Referrals</h1>
      <p>Get fee discounts and earn rebates through the CSX referral program.</p>
      <p></p>
    </mat-card-content>
</mat-card>
  
<mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>

<div *ngIf="!this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background" >
        <mat-card-content>
        <h2>Wallet not connected.</h2>
        <p>Connect wallet to retrieve on-chain data, this can be done in the upper-right corner.</p>
        <p></p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background">
        <mat-card-content>
            <h2>Select Role Below</h2>
            <p>For more information, please read the <a href="#" target="_blank" rel="noopener noreferrer">referral program details</a>.</p>
        </mat-card-content>
    </mat-card>
    <mat-card class="margins background" >
        <mat-card-content >
            <mat-tab-group>
                <mat-tab label="Buyer">
                    <div class="tab-content-wrap">
                        <!-- <div>                            
                            <app-level-circle [userAddress]="this.web3.webUser.address!"></app-level-circle>
                        </div> -->
                        <br><br>
                        <div>
                            <mat-form-field class="example-full-width">
                                <mat-label>Enter Referral Code</mat-label>                                
                                <input matInput [value]="refferalCode">
                            </mat-form-field>
                            <button mat-button (click)="checkReferralCode()">Check</button>
                        </div>
                        <button [disabled]="!isValidRefCode" mat-button (click)="checkReferralCode()">Apply</button>
                    </div>
                </mat-tab>
                <mat-tab label="Affiliate">
                    <div class="tab-content-wrap">
                        Generate Referral Code
                        <input>
                    </div>                    
                </mat-tab>
              </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>