<mat-card class="margins background" style="background-image: url(../../../assets/art_csx_sm.png); background-repeat: no-repeat; background-size: cover;">
    <mat-card-content>  
      <h1>Referrals</h1>
      <p>Get discounts and earn rebates with CSX referral program.</p>
      <p></p>
    </mat-card-content>
</mat-card>
  
<mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>

<div *ngIf="!this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background" >
        <mat-card-content>
        <h2>Wallet not connected.</h2>
        <p>Connect wallet to retrieve on-chain data, this can be done in the upper-right corner.</p>
        <p></p>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="this.web3.webUser.isUserWalletConnected">
    <mat-card class="margins background">
        <mat-card-content>
            <h2>Select Role Below</h2>
            <p>For more information, please read the <a href="https://docs.csx.gg/+/referrals" target="_blank" rel="noopener noreferrer">referral program details</a>.</p>
        </mat-card-content>
    </mat-card>
    <mat-divider style="margin: 0.5%; visibility: hidden;"></mat-divider>
    <mat-card class="margins background" >
        <mat-card-content >
            <mat-tab-group (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Buyer">
                    <div class="tab-content-wrap">                        
                        <br><br>
                       <app-my-code></app-my-code>
                    </div>
                </mat-tab>
                <mat-tab label="Affiliate">
                    <div class="tab-content-wrap">
                        <br><br>
                        <app-affiliate *ngIf="hasClickedAffiliateTab"></app-affiliate>
                    </div>                    
                </mat-tab>
              </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>