.margins {
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    color: #afb2d6;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.background {
    background-color: #0c0c0c34;
}

.tab-content-wrap {
    text-align: center;
    align-items: center;
    margin: 1rem;
}
